<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cyberPunk.mapper.DishesMapper">
    <select id="getAllDishes" resultType="com.example.cyberPunk.entity.Dishes">
        select * from cyberpunk.dishes
    </select>
</mapper>